</main>
<footer>
    <ul>
        <li>CompreProdutos</li>
        <li><a href="">Ver Produtos</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Cadastro</a></li>
    </ul>
</footer>
</body>
</html>